[include mainsail.cfg]
[include config_backup.cfg]
[include KAMP_Settings.cfg]
[include LEDs/*.cfg]
[include FANs/*.cfg]
[include MACROs/*.cfg]

[exclude_object]

#####################################################################
#  MCU definition
#####################################################################

[mcu] #BTT Manta M8P
##	MCU motor slots
##	[X in MOTOR1] - B Motor
##	[Y in MOTOR2] - A Motor
##	[Z in MOTOR3] - Front Left
##	[Z1 in MOTOR4] - Rear Left
##	[Z2 in MOTOR5] - Rear Right
##	[Z3 in MOTOR6]- Front Right
##--------------------------------------------------------------------
## CANBus: 
canbus_uuid: c5cf8e687a31
canbus_interface: can0

[mcu EBBCan] #BTT SB2209 (RP2040)
canbus_uuid: e84e04fe8485
canbus_interface: can0


#####################################################################
#  temperature sensors
#####################################################################

[temperature_sensor Manta_M8P]
sensor_type: temperature_mcu

[temperature_sensor CB1]
sensor_type: temperature_host

#####################################################################
#  General Printer definition
#####################################################################

[printer]
kinematics: corexy
max_velocity: 600           #Max 800 possible
max_accel: 6000    			#Max 4000 #mechanical 10000 is ok, input shaper values used
max_z_velocity: 15 			#Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
minimum_cruise_ratio: 0.5
square_corner_velocity: 5.0

#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE2
dir_pin: PB4
enable_pin: !PC11
microsteps: 16
rotation_distance: 40
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: EBBCan:gpio24
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC10
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PF12
dir_pin: PF11
enable_pin: !PB3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PF4
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
position_min: 0
position_endstop: 300
position_max: 300
homing_speed: 100 #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PF13
interpolate: True
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3_A
[stepper_z]
step_pin: PD7
dir_pin: PD6
enable_pin: !PF10
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
endstop_pin: probe:z_virtual_endstop
position_max: 250 #original 290
position_min: -5
homing_speed: 15
second_homing_speed: 5
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PF9
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z1 Stepper - Rear Left on Motor4
[stepper_z1]
step_pin: PD3
dir_pin: !PD2
enable_pin: !PD5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PD4
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on Motor5
[stepper_z2]
step_pin: PC9
dir_pin: PC8
enable_pin: !PD1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PD0
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##	Z3 Stepper - Front Right on Motor6
[stepper_z3]
step_pin: PA10
dir_pin: !PA14
enable_pin: !PA15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PF8
interpolate: true
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Extruder
#####################################################################

#	E0 on SB2209 (RP2040) via CAN
[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
rotation_distance: 22.695107985

gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_cross_section: 5
max_extrude_only_distance: 110.0
heater_pin: EBBCan:gpio7
sensor_type: MAX31865
sensor_pin: EBBCan:gpio9
spi_software_sclk_pin: EBBCan:gpio10
spi_software_mosi_pin: EBBCan:gpio8
spi_software_miso_pin: EBBCan:gpio11
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
rtd_use_50Hz_filter: True

min_temp: 10
max_temp: 270
max_power: 0.8
min_extrude_temp: 170

##	E0 on SB2209 (RP2040) via CAN
[tmc2209 extruder]
uart_pin: EBBCan:gpio20
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

[heater_bed]
##	SSR Pin - HE1
heater_pin: PB5 
sensor_type: Generic 3950
sensor_pin: PA0
max_power: 0.75
min_temp: 0
max_temp: 120

#####################################################################
# 	Bed Mesh
#####################################################################

[bed_mesh]
speed: 300
horizontal_move_z: 3
mesh_min: 40, 40
mesh_max: 260,260
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
adaptive_margin: 5
algorithm: bicubic

#####################################################################
# 	Probe
#####################################################################

[probe]
pin: ^EBBCan:gpio22 #M4-STOP
x_offset: 0
y_offset: 0
speed: 8.0
samples: 2
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.01
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        SET_DISPLAY_TEXT MSG="Extruder temperature target of {TARGET_TEMP}c is too high, lowering to {PROBE_TEMP}c"
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            SET_DISPLAY_TEXT MSG="Extruder temperature {ACTUAL_TEMP}c is still too high, waiting until below {MAX_TEMP}c"
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

#####################################################################
# 	Fan Control
#####################################################################

[fan]
##	Print Cooling Fan - CNC_FAN0
pin: EBBCan:gpio13

[heater_fan hotend_fan]
##	Hotend Fan - CNC_FAN1
pin: EBBCan:gpio14
heater: extruder
heater_temp: 50.0


[heater_fan controller_fan]
#	Controller fan - CNC_FAN2
pin: PE0
kick_start_time: 0.5
heater: heater_bed
heater_temp: 45.0
fan_speed: 0.5

[temperature_fan chamber]
pin: PC12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
cycle_time:0.01
off_below:0.1
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: 0
max_temp: 100
gcode_id: C
target_temp: 0 #35.0
control: watermark

#####################################################################
# 	Acceleration Sensor
#####################################################################

[adxl345]
cs_pin: EBBCan:gpio1
spi_software_sclk_pin: EBBCan:gpio2
spi_software_mosi_pin: EBBCan:gpio0
spi_software_miso_pin: EBBCan:gpio3
axes_map: z,-y,x

[resonance_tester]
probe_points: 150, 150, 20
accel_chip: adxl345

[input_shaper]
shaper_freq_x: 53.2
shaper_type_x: mzv
shaper_freq_y: 47.4
shaper_type_x: mzv

#####################################################################
# 	LED Control
#####################################################################

[neopixel chamber_leds]
pin: PA9
chain_count: 36
color_order: GRBW

[neopixel sb_leds]
pin: EBBCan:gpio16
chain_count: 3
color_order: GRBW

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[safe_z_home]
home_xy_position:150,150
speed:300
z_hop:10

[quad_gantry_level]
gantry_corners:
	-55,0       #-60,-10
  	355,370     #360,370
    
points:
	50,25
	50,225
	250,225
	250,25
speed: 300
horizontal_move_z: 3
retries: 10
retry_tolerance: 0.0075
max_adjust: 4

#####################################################################
# 	Macros
#####################################################################

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28
    BED_MESH_CALIBRATE 
    G0 X150 Y150 Z30 F18000

[gcode_macro G28]
rename_existing: G28.1
gcode:
  STATUS_HOMING
  G28.1

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: BASE_QUAD_GANTRY_LEVEL
gcode:
  STATUS_LEVELING
  BASE_QUAD_GANTRY_LEVEL

# z_offset:
# baby steps = 0.01 or 0.05
# more negative (further from 0) -> less squish
# more positve (closer to 0) -> more squish

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 51.364
#*# pid_ki = 2.238
#*# pid_kd = 294.698
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 19.138
#*# pid_ki = 1.276
#*# pid_kd = 71.768
#*#
#*# [probe]
#*# z_offset = -1.18
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.023750, 0.025000, 0.043750, 0.032500, 0.003750
#*# 	-0.071250, -0.035000, -0.013750, -0.021250, -0.042500
#*# 	-0.067500, -0.016250, -0.000000, -0.001250, -0.043750
#*# 	-0.036250, 0.015000, 0.040000, 0.021250, -0.020000
#*# 	0.092500, 0.120000, 0.130000, 0.105000, 0.057500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 40.0
#*# max_x = 260.0
#*# min_y = 40.0
#*# max_y = 260.0
